CLOUDFLARE_TURNSTILE_SITE_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_PLACE_ID=
TARGET_ROOT=/var/www/docker_mageos/magento
STORE_CODE=default
TARGET_SITEURL=https://mageos-docker.magsite.co.uk
ALLOWED_HOSTS=localhost,127.0.0.1,mageos-docker.magsite.co.uk
